---
import SectionTitle from "./SectionTitle.astro";

const atributosData = [
  {
    id: 1,
    url: "/images/atributos/recurso1.webp",
    title: "Gimnasio al aire libre",
    icon: "/icons/iconos-04.svg",
  },
  {
    id: 4,
    url: "/images/atributos/recurso2.webp",
    title: "Juegos Infantiles",
    icon: "/icons/iconos-03.svg",
  },
  {
    id: 2,
    url: "/images/atributos/recurso4.webp",
    title: "Ciclovìas",
    icon: "/icons/iconos-05.svg",
  },
  {
    id: 3,
    url: "/images/atributos/recurso3.webp",
    title: "Zona de parrillas",
    icon: "/icons/iconos-08.svg",
  },
];
---

<section
  aria-labelledby="atributos-title"
  data-aos="fade-up"
  data-aos-once="true"
  class="flex justify-center lg:justify-end max-w-6xl mx-auto"
>
  <main
    class="flex flex-col px-6 lg:mb-40 lg:mt-4 max-w-md lg:mx-w-2xl rounded-b-[910px] bg-secondary/50 lg:bg-transparent"
  >
    <header data-aos="fade-down" data-aos-delay="200" data-aos-once="true">
      <div
        class="flex flex-col items-center justify-center md:my-14"
        role="banner"
        data-aos="fade-down"
        data-aos-delay="100"
        data-aos-once="true"
      >
        <div class="flex items-center space-x-5">
          <!-- quiero agregar dos lineas ----- logo ----- asi  -->
          <div class="w-20 h-0.5 bg-white opacity-50 transform lg:w-24"></div>
          <img
            src="/icons/isotipo.svg"
            alt="logo del Condominio El Olivar"
            class="w-10 h-10 md:w-14 md:h-14 lg:w-20 lg:h-20 animate-float transition-transform duration-300 hover:scale-125"
            role="presentation"
            aria-hidden="true"
            data-aos="fade-right"
            data-aos-delay="200"
            data-aos-once="true"
          />
          <div class="w-20 h-0.5 bg-white opacity-50 transform lg:w-24"></div>
        </div>

        <hgroup
          class="text-center space-x-2"
          data-aos="zoom-in"
          data-aos-delay="300"
          data-aos-once="true"
        >
          <p
            class="text-white text-2xl md:text-3xl lg:text-4xl transition-all duration-500 hover:scale-105"
          >
            ATRIBUTOS DEL <br />
          </p>
          <h2
            class="text-primary text-2xl md:text-3xl lg:text-4xl font-black transition-all duration-500 hover:scale-105"
          >
            CONDOMINIO
          </h2>
        </hgroup>
      </div>

      <h2 id="atributos-title" class="sr-only">
        Atributos del Condominio El Olivar
      </h2>
    </header>

    <section class="flex flex-col w-full">
      <section
        class="flex justify-around pb-5"
        role="group"
        aria-label="Características principales"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-once="true"
      >
        <article
          class="flex space-x-3 justify-center items-center group cursor-pointer"
          data-aos="fade-right"
          data-aos-delay="600"
          data-aos-once="true"
        >
          <img
            src="/icons/iconos-06.svg"
            alt="Icono de metraje"
            class="w-14 h-14 md:w-16 md:h-16 bg-white rounded-full transition-all duration-700 ease-out group-hover:scale-105 group-hover:rotate-3 group-hover:shadow-lg"
          />
          <data
            value="120"
            class="text-white xl:text-2xl font-semibold transition-all duration-1000 ease-in-out group-hover:text-secondary"
            >Desde <br /> 120 m2</data
          >
        </article>
        <article
          class="flex space-x-3 justify-center items-center group cursor-pointer"
          data-aos="fade-left"
          data-aos-delay="600"
          data-aos-once="true"
        >
          <img
            src="/icons/iconos-07.svg"
            alt="Icono de parques y jardines"
            class="w-14 h-14 md:w-16 md:h-16 font-semibold bg-white rounded-full p-2 transition-all duration-700 ease-out group-hover:scale-105 group-hover:rotate-3 group-hover:shadow-lg"
          />
          <p
            class="text-white xl:text-2xl font-semibold transition-all duration-1000 ease-in-out group-hover:text-secondary"
          >
            Parques <br /> y jardines
          </p>
        </article>
      </section>
      <section
        class="grid grid-cols-2 gap-2"
        role="group"
        aria-label="Atributos del condominio"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-once="true"
      >
        {
          atributosData.map((item, index) => (
            <article
              class="relative group  border-8 border-white rounded-3xl overflow-hidden"
              data-aos="flip-up"
              data-aos-delay={`${400 + index * 100}`}
              data-aos-once="true"
            >
              <figure class="overflow-hidden  shadow-lg transition-all duration-700 ease-out hover:shadow-2xl hover:scale-102">
                <header class="absolute top-0 left-0 right-0 bg-white/90 justify-center px-4 py-2 md:px-6 md:py-3  shadow-lg flex items-center space-x-2 min-h-[60px] md:min-h-[70px] transition-all duration-500 ease-out group-hover:bg-white">
                  <img
                    src={item.icon}
                    alt={`Icono de ${item.title}`}
                    class="w-9 h-9  flex-shrink-0 transition-all duration-500 ease-out group-hover:scale-105 group-hover:rotate-2"
                  />
                  <h3 class="lg:text-lg  text-secondary w-40  font-bold text-center leading-none transition-colors duration-500 ease-out group-hover:text-primary">
                    {item.title}
                  </h3>
                </header>
                <img
                  src={item.url}
                  alt={`Imagen de ${item.title} en el Condominio Apolo`}
                  class="w-full  h-[200px] transition-transform duration-700 ease-out group-hover:scale-105 o"
                  loading="lazy"
                  decoding="async"
                />
              </figure>
            </article>
          ))
        }
      </section>
    </section>
  </main>
</section>
